{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/change.css') }}">
{% endblock %}
{% block body %}
 <div class="wrapper">
  <div class="container main">
   <div class="row">
    <div class="col-md-6 side-image">
        <img src="{{ asset('images/change.png') }}" alt="">

    </div>
    <div class="col-md-6 right">
     <div class="input-box">
      <header>Changer Votre mot de passe</header>
       <div class="input-field">
        <input type="password" class="input" id="ancien" required > 
        <label for="ancien">Ancien mot de passe</label>
       </div>
       <div class="input-field">
        <input type="password" class="input" id="nouveau" required > 
        <label for="nouveau">Nouveau mot de passe</label>
       </div>
       <div class="input-field">
        <input type="submit" class="submit"value="Enregistrer le mot de passe" > 
       </div>
     </div>
    </div>
   </div>
  </div>
 </div>
{% endblock %}
