*{
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    background: #f5f5f5;
    padding: 0 20px 0 20px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.side-image {
    position: relative;
    overflow: hidden;
    padding: 0;
}
.row{
  width:  900px;
  height:550px;
  border-radius: 10px;
  background: #f5f5f5;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
img{
    width: 350px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 330px;
    box-sizing: border-box;
}
.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom:20px ;
    color: #245799;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #245799;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #2c5167;
 }
 .submit{
    border: none;
    outline: none;
    height: 45px;
    background: #0080a8;
    border-radius: 5px;
    transition: .4s;
 }
 .submit:hover{
    background:rgba(37,95,156,0.9) ;
    color: #ffff;
 }
@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 70px;
        position: absolute;
        top: 20px;
        left: 47%;
    } 
    
    .row{
        max-width:420px;
        width: 100%;
    }
}